@import 'tailwindcss';

@theme {
  --color-indigo-700: #4338ca;
  --color-indigo-50: #eef2ff;
  --color-neutral-950: #0a0a0a;
  --color-neutral-900: #171717;
  --color-neutral-700: #404040;
  --color-neutral-600: #525252;
  --color-neutral-500: #737373;
  --color-neutral-400: #a3a3a3;
  --color-neutral-200: #e5e5e5;
  --color-neutral-50: #fafafa;
  --color-gray-50: #f9fafb;
  --color-white: #ffffff;

  --font-sans: var(--font-noto-sans);
}

:root {
  --background: var(--color-white);
  --foreground: var(--color-neutral-950);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-neutral-950);
    --foreground: var(--color-white);
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
